.bracket-seed {
  background-color: rgb(146, 160, 174);
  min-width: 18rem;
}

.bracket-team {
  color: white;
}

.cnf-btn {
  background-color: #007777;
  color: white;
  padding: 0.25rem;
  border-radius: 5rem;
}
